# Local .terraform directories
*.tfstate
*.tfstate.*
terraform.tfvars*
*.terraform
.terraform.lock.hcl

# Exlude the TF logs
logs/
terraform.log

# Remove DS_CODE
.DS_Store

# Exclude the setenv.sh file
setenv.sh
